
::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,90,95)

::-webkit-scrollbar-thumb
  background hsl(0,50,50)
  border-radius 2px

*
  box-sizing border-box

body
  margin 0px
  background hsl(0,0,97)

#body
  width 1200px
  height 100%
  margin 0px auto
  font-family 'monospace', 'microsoft yahei'

  #banner
    padding 20px 12px

  #main
    height 600px

    #text, #play
      width 48%
      float left
      height 100%
      resize none
      overflow-x scroll
      overflow-x hidden
      font-size 14px
      font-family 'Courier New', monospace
      line-height 20px

    #text
      border none
      outline none
      margin 0px
      box-shadow 0px 0px 6px hsl(0,0,80)
      padding 8px 12px 40px

    #play
      padding 20px 12px 40px
      box-shadow 0px 0px 4px hsl(240,80,90)

      pre
        margin 0px
        padding 0px 16px

      pre, code
        background hsl(0,0,90)
        border-radius 4px

      &>code
        padding 0px 6px

      a
        text-decoration none
        background hsl(240,80,95)
        padding 0px 4px
        border-radius 4px