!!!5
html
  head
    title willow file
    :stylus
      #play
        font-size 14px
        font-family 'Courier New', monospace
        width 800px
        margin 40px auto
        padding 20px 12px 40px
        box-shadow 0px 0px 4px hsl(240,80,90)

        pre
          margin 0px
          padding 0px 16px

        pre, code
          background hsl(0,0,90)
          border-radius 4px

        &>code
          padding 0px 6px

        a
          text-decoration none
          background hsl(240,80,95)
          padding 0px 4px
          border-radius 4px
  body
    #play @@@